BatchInsert.Example/.vs
BatchInsert.Example/BatchInsert.Example/bin
BatchInsert.Example/BatchInsert.Example/obj
BatchInsert.Example/BatchInsert.Example.DB/bin
BatchInsert.Example/BatchInsert.Example.DB/obj
BatchInsert.Example/BatchInsert.Example.DbScripts/obj
